.rightBar{
    flex: 3.5;
  

}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.rightBarcontainer{
    padding: 20px 20px 0 0;
}
.birthdayImage{
    width: 30px;
    height: 30px;
    margin-right: 10px
}
.birthdayText{
    font-weight: 300;
    font-size: 15px;

}
.adsImage{
    width: 100%;
    border-radius: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.rightbarTitle{
    margin-bottom: 10px;
}
.friendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarInfo{
    margin-bottom: 30px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: rgb(151, 151, 151);
}
.rightbarInfoValue{
    font-weight:400;
}
.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
.rightbarFollowingImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
 
}
.rightBarFollow{
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(82, 82, 238);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}