.rightBar{
    flex: 3.5;
  

}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.rightBarcontainer{
    padding: 20px 20px 0 0;
}
.birthdayImage{
    width: 30px;
    height: 30px;
    margin-right: 10px
}
.birthdayText{
    font-weight: 300;
    font-size: 15px;

}
.adsImage{
    width: 100%;
    border-radius: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.rightbarTitle{
    margin-bottom: 10px;
}
.friendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
