.lefttBar{
   flex: 3;
   height: calc(100vh - 50px);
   overflow-y: scroll;/*can add scroll for pretucular div*/
   position: sticky;/*can stop same place in window*/
   top: 50px;
}

::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background-color: rgb(206, 205, 203);
}
::-webkit-scrollbar-thumb{
    background-color:gray;
}
.sideWrapper{
    padding: 20px;
    
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right: 20px;
}
.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}
.sidebarHR{
    margin: 20px 0;
}
